@import '../../../utils/colors.scss';

.container {
  margin-top: 100px;
  color: $font-color-secondary;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
}
.link {
}
:global {
  .possibility__hint-link {
    margin-top: 15px;
    color: $font-color-thirty;
  }
}
