@import '../../../../utils/colors';

.file {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  cursor: pointer;
  transition: border 0.3s;
  border: solid 1px $background-color-white;

  &:hover {
    border: solid 1px $button-background;
  }

  &:hover .date {
    grid-column-start: 3;
  }
  &:hover .size {
    grid-column-start: 4;
  }
  &:hover .download {
    grid-column-start: 5;
    display: block;
  }
  &:hover .delete {
    grid-column-start: 6;
    display: block;
  }
}

.file__img {
  justify-self: center;
}

.date {
  grid-column-start: 5;
  justify-self: center;
}
.size {
  grid-column-start: 6;
  justify-self: center;
}

.file__btn {
  display: none;
}

.filePlate {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover &__btns {
    display: flex;
  }
}

.filePlate__img {
  height: 100px;
  width: 100px;
}
.filePlate__btns {
  display: none;
}
