@import './utils/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color-primary;
  font-family: Ubuntu, Arial, Tahoma, sans-serif;
}

body {
  background-color: $background-color-primary;
}

body.lock {
  overflow: hidden;
  padding-right: 17px;
}

li {
  list-style: none;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font-color-second {
  color: $font-color-secondary;
}

.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
