@import '../../utils/colors.scss';

.button {
  cursor: pointer;
  padding: 0 16px;
  height: 40px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  transition: all 0.15s;
  color: $button-color;
  background: $button-background;

  &:hover {
    background-color: $button-background-hover;
  }

  & path {
    fill: $button-color;
  }

  &:disabled {
    opacity: 0.5;
    cursor: initial;

    &:hover {
      background: $button-background;
    }
  }
}

.outline {
  color: $button-outline-color;
  background: $button-outline-background;

  &:hover {
    background-color: $button-outline-background-hover;
  }

  & path {
    fill: $button-outline-color;
  }

  &:disabled:hover {
    opacity: 0.5;
    background: $button-background;
  }
}

.drop {
  color: $button-color;
  background-color: $error-color;

  &:hover {
    opacity: 0.8;
    background-color: $error-color;
  }

  & path {
    fill: $button-color;
  }

  &:disabled:hover {
    opacity: 0.5;
    background: $error-color;
  }
}
