$background-color-primary: #f4f6f9;
$background-color-secondary: #31373e;
$background-color-thirty: #464b51;
$font-color-primary: #31373e;
$font-color-secondary: #ffffff;
$font-color-thirty: #afafaf;
