$background-color-primary: #f4f6f9;
$background-color-secondary: #31373e;
$background-color-thirty: #464b51;
$background-color-white: #ffffff;
$background-color-black: #1d1d1d;
$background-color-black-second: #232528;

$font-color-primary: #31373e;
$font-color-secondary: #ffffff;
$font-color-thirty: #afafaf;
$line-color: #e6ecf0;

$button-color: #ffffff;
$button-background: #42a5f5;
$button-background-hover: #67b7f7;

$button-outline-color: #42a5f5;
$button-outline-background: #f0f8ff;
$button-outline-background-hover: #e0f1ff;

$error-color: #ff3850;
