@import '../../../utils/colors';

.fileManagerBar {
  padding-top: 1.4em;
  margin-bottom: 10px;
  border-bottom: 1px solid $line-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterMenu__wrapper {
  padding-left: 1.4em;
}

.filterMenu__list {
  display: flex;
  // align-items: center;
}

.filterMenu__item {
  padding-bottom: 1em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.8em;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  color: $font-color-thirty;
  border-bottom: 4px solid transparent;

  & .filterIco {
    color: $font-color-thirty;
    transition: all 0.5s ease;
  }

  & span {
    margin-left: 0.5em;
  }

  &.filterActive {
    color: $font-color-primary;
    border-bottom: 4px solid $button-background;
    & .filterIco {
      fill: $font-color-primary;
    }
  }

  &:hover {
    color: $font-color-primary;
    border-bottom: 4px solid $button-background;

    & .filterIco {
      fill: $font-color-primary;
    }
  }
}

.controlFiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  width: 200px;
  padding: 4px 8px;
  font-weight: 400;
  border: $font-color-thirty solid 1px;
  border-radius: 3px;
  color: $font-color-primary;
  font-weight: 400;
  &:focus {
    outline: none;
    border-color: $button-background;
  }
}

.button {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  margin: 0 5px;
  width: 24px;
  & path {
    transition: all 0.3s ease-out;
  }
  &:hover path[fill],
  :hover g[fill-rule='nonzero'] {
    fill: $font-color-primary;
  }

  &:hover path[stroke] {
    stroke: $font-color-primary;
  }
}
