* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #31373e;
}
body {
  background-color: #f4f6f9;
}
li {
  list-style: none;
}
#root {
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
