@import '../../utils/colors';

.disk {
  width: 100%;
}

.select {
  margin-left: auto;
}
.filePlaceholder {
  background-color: $background-color-white;
}

.dropArea {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px;
  border: dashed $font-color-primary 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
