.bread-crumbs {
  background-color: #464b51;
}
.bread-crumbs__list {
  height: 40px;
  display: flex;
  align-items: center;
}
.bread-crumbs__item {
  margin-right: 20px;
}
.bread-crumbs__logo {
  margin-right: 10px;
}
.bread-crumbs__direct {
  color: #ffffff;
  margin-right: 20px;
}
.bread-crumbs__arrow {
  color: #ffffff;
}
