@import '../../../utils/colors';
@import '../../../utils/media.scss';

.placeholder {
  position: sticky;
  top: 60px;
  z-index: 500;
  background-color: $background-color-thirty;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    top: 50px;
  }
  @media (max-width: $mobMax) {
    top: 40px;
  }
}

.list {
  height: 40px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    height: 35px;
  }
  @media (max-width: $mobMax) {
    height: 30px;
  }
}

.item {
  margin-right: 20px;
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    margin-right: 15px;
  }
  @media (max-width: $mobMax) {
    margin-right: 10px;
  }
}

.content {
  cursor: pointer;

  &:last-child {
    cursor: default;
  }
}

.logo {
  margin-right: 10px;
}

.direct {
  color: $font-color-thirty;
  margin-right: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  @media (min-width: $deskMin) and (max-width: $deskMax) {
    font-size: 0.8rem;
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    font-size: 0.7rem;
  }
  @media (max-width: $mobMax) {
    font-size: 0.6rem;
  }
}

.arrow {
  line {
    stroke: $font-color-thirty;
  }
}
