@import '../../../utils/colors';

.placeholder {
  background-color: $background-color-thirty;
}

.list {
  height: 40px;
}

.item {
  margin-right: 20px;
}

.content {
  cursor: pointer;

  &:last-child {
    cursor: default;
  }
}
.logo {
  margin-right: 10px;
}
.direct {
  color: $font-color-thirty;
  margin-right: 20px;
  font-size: 0.9rem;
  font-weight: 500;
}

.arrow {
  line {
    stroke: $font-color-thirty;
  }
}
