@import '../../../utils/colors';

.bread-crumbs {
  background-color: @background-color-thirty;
  &__list {
    height: 40px;
    color: @font-color-thirty;
  }

  &__item {
    margin-right: 20px;
  }

  &__content {
    cursor: pointer;

    &:last-child {
      cursor: default;
    }
  }

  &__logo {
    margin-right: 10px;
  }

  &__direct {
    margin-right: 20px;
  }

  &__arrow {
    line {
      stroke: @font-color-thirty;
    }
  }
}
