.bread-crumbs {
  background-color: #464b51;
}
.bread-crumbs__list {
  height: 40px;
  color: #afafaf;
}
.bread-crumbs__item {
  margin-right: 20px;
}
.bread-crumbs__content {
  cursor: pointer;
}
.bread-crumbs__content:last-child {
  cursor: default;
}
.bread-crumbs__logo {
  margin-right: 10px;
}
.bread-crumbs__direct {
  margin-right: 20px;
}
.bread-crumbs__arrow line {
  stroke: #afafaf;
}
