@import '../../utils/colors';

.modalFade {
  z-index: 550;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 30px;
  margin-top: 30vh;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.content {
  z-index: 520;
  position: relative;
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.close {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 8px;
  right: 8px;
  & path {
    fill: $font-color-primary;
  }
  &:hover {
    fill: $background-color-thirty;
  }
}

.title {
  text-align: center;
  font-size: 24px;
  padding-bottom: 24px;
  font-weight: 500;
}

.buttons {
  padding-top: 24px;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 40%;
}
