@import '../../utils/colors';

.navbar {
  display: flex;
  height: 65px;
  justify-content: center;
  background-color: $background-color-secondary;
  width: 100%;

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 400;
    color: $font-color-secondary;
  }

  &__logo-link {
    text-decoration: none;
  }
  &__user {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__registration {
    color: white;
  }

  &__link {
    margin-right: 20px;
    cursor: pointer;
    color: white;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__container {
    display: flex;
    align-items: center;
  }
}
