@import '../../utils/colors';

.navbar {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-secondary;
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.registration {
  color: white;
}

.link {
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
