@import '../../../utils/media.scss';

.fileSearch {
  width: 300px;
  margin-left: 30px;

  @media (min-width: $deskMin) and (max-width: $deskMax) {
    width: 250px;
    margin-left: 20px;
  }
  @media (min-width: $tabMin) and (max-width: $tabMax) {
    width: 150px;
    margin-left: 10px;
  }
}
